html,
body {
  margin: 0;
  padding: 0;
}

.interstitial-wrapper {
  width: 600px;
  margin: 100px auto;
  position: relative;
}

#offline-resources {
  display: none;
}
#surprise-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  display: none;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 10;
}

#surprise-layer.is-active {
  display: flex;
  pointer-events: auto;
}

.surprise {
  position: relative;
  width: 70%;
  max-width: 800px;
  aspect-ratio: 16 / 9;
  background: #000;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
  top: 100px;
}

.surprise__content,
.surprise video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.surprise__close {
  position: absolute;
  top: 8px;
  right: 12px;
  z-index: 2;
  background: cornflowerblue;
  color: white;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  padding: 20px;
}

#lives-ui {
  position: absolute;
  top: 8px;
  left: 12px;
  font-family: monospace;
  font-size: 14px;
  z-index: 10;
}

.surprise--final {
  position: fixed;
  inset: 0;
  background: #fff;
  overflow: hidden;
  z-index: 9999;
}

.photo-shower img {
  position: absolute;
  width: 120px;
  height: auto;
  pointer-events: none;
  animation: fall linear forwards;
}

@keyframes fall {
  from {
    transform: translateY(-150px) rotate(0deg);
    opacity: 1;
  }
  to {
    transform: translateY(110vh) rotate(360deg);
    opacity: 1;
  }
}

.final-message {
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  opacity: 0;
  animation: fadeIn 2s ease forwards;
  animation-delay: 4s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
